<% if current_user %>
	<a class="logout-button" href="<%= session_url %>">Logout</a>
	<div><%= current_user.email %></div>
<% else %>
<div>yyy<%= current_user %>yyy</div>
	<a class="login-button" href="<%= new_session_url %>"> Sign In</a>
	<a class="signup-button" href="<%= new_user_url %>">Sign Up</a>
<% end %>
